<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>

    <div th:replace="include/header :: header-css"></div>
</head>
<div class="container-fluid">
    <div th:replace="include/header :: header"></div>
    <h3>New</h3>

    <form class="form-horizontal" action="#" th:action="@{/user/new}" th:object="${userAccountDTO}" method="post">

        <div class="form-group">
            <div class="col-md-4">
                <label for="username">Username</label>
                <input th:name="username" type="text" class="form-control mb-4" id="username"
                       placeholder="Username" />
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style = "color: red">Username Error</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"><label for="password">Password</label>
                <input th:name="password" type="password" class="form-control mb-4" id="password"
                       placeholder="Password" />
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style = "color: red">Password Error</p>
        </div></div>

        <div class="form-group">
            <div class="col-md-4">
                <input th:name="firstName" type="text" class="form-control mb-4" id="firstName"
                       placeholder="First Name" />
            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style = "color: red">First Name Error</p>
        </div></div>

        <div class="form-group">
            <div class="col-md-4">
                <input th:name="lastName" type="text" class="form-control mb-4" id="lastName" placeholder="Last Name" />
                <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style = "color: red">Last Name Error</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" th:field="*{roleDTO.id}">
                    <option value="">Select Role</option>
                    <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
                </select>
                <p th:if="${#fields.hasErrors('roleDTO')}" th:errors="*{roleDTO}" style = "color: red">Role Error</p>
            </div>


        </div>

        <div class="form-group">
            <div class="col-md-4">
                <button type="submit" class="btn btn-outline-success">New User</button>
            </div>
        </div>
</form>
</div>
</br></br>
<div th:replace="include/footer :: footer"></div>

</body>
</html>