<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="include/header :: header-css"></div>
</head>

<body>
<div class="container-fluid">
    <div th:replace="include/header :: header"></div>
    <h3>List</h3>
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">Created At</th>
            <th scope="col">Username</th>
            <th scope="col">Role</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            <th:block th:if="${currentUser.id ==1}">
                <th scope="col"></th>
            </th:block>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="userAccount : ${userAccounts}">
            <tr>
                <td th:text="${userAccount.changedAt}">...</td>
                <td th:text="${userAccount.username}">...</td>
                <td th:text="${userAccount.roleDTO.name}">...</td>
                <td th:text="${userAccount.status}">...</td>
                <td><a class="btn btn-outline-success" th:href="@{'/user/' + ${userAccount.id}}" role="button">View</a>
                </td>

                <th:block th:if="${currentUser.id ==1}">
                    <td><a class="btn btn-outline-success" th:href="@{'/user/' + ${userAccount.id} + '/edit/'}"
                           role="button">Edit</a>
                    </td>
                </th:block>
            </tr>
        </th:block>
        </br>
        </tbody>
    </table>
    <nav aria-label="...">
        <th:block th:if="${pages>1}">
            <ul class="pagination pagination">
                <th:block th:each="i:${#numbers.sequence(1,pages)}">
                    <a class="page-link" th:href="@{/user?page={page}(page=${i})}"><span th:text="${i}">...</span></a>
                </th:block>
            </ul>
        </th:block>
        </ul>
    </nav>

</div>
</br></br>
<div th:replace="include/footer :: footer"></div>

</body>
</html>
